#iw-menu li.active > a {
    border-left: 2px solid #09c;
}

/* checkbox */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* fix scroll menu sidebar */
.iw-sidebar {
    overflow-y: auto;
    margin-bottom: 50px;
}

/* para que la barra de progreso se vea bien el contenido */
.progress-with-content {
    line-height: 15px;
}

.color-red {
    background-color: crimson;
}

.loading-box {
    width: 200px;
    margin-top: 100px;
}

.loading-box .loading-box-body {
    margin-top: 10px;
    margin-left: 20px;
    float:left;
}

/* override background logo color */
.iw-logo {
    height: 45px;
    width: auto;
    padding: 5px;
}

.iw-header {
    height: 48px;
}

@media (max-width: 768px) {
    .iw-header {
        width: auto !important;
    }

    .new-modal-form {
        padding: 10px;
    }

    .bulk-modal-form {
        padding: 10px;
    }
}


.control-label-left {
    text-align: left ! important;
}

.mouse-hand {
    cursor: pointer;
}

.item-url {
    cursor: pointer;
}

/* footer */

.iw-main {
    margin-bottom: 40px;
    /*padding-bottom: 100px;*/
}

.navbar-fixed-bottom {
    min-height: 20px;
}

.navbar-content-center {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.text-footer-content {
    padding: 5px;
}

/*
* override the default CSS colors of loading-bar and spinner
*/
#loading-bar .bar {
    background: #FFF;
}
#loading-bar-spinner .spinner-icon {
    border-top-color: #FFF;
    border-left-color: #FFF;
}
#loading-bar .peg {
    -moz-box-shadow: #2c3e50 1px 0 6px 1px;
    -ms-box-shadow: #2c3e50 1px 0 6px 1px;
    -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
    box-shadow: #2c3e50 1px 0 6px 1px;
}


.no-hand {
    cursor: default;
}

.iw-modal-loading {
    font-weight: bold;
    text-align: center;
}

/*
* file input
 */
.btn-file {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.vmiddle {
    vertical-align: middle !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #000 !important;
    cursor: pointer;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
    color: #555 !important;
}

@media (min-width: 768px) {
    .text-lg-right {
        text-align: right;
    }
    .text-lg-left {
        text-align: left;
    }
    .pull-lg-right {
        float: right;
    }
    .pull-lg-left {
        float: left;
    }
    .mt-lg-0 {
        margin-top: 0px;
    }
    .mt-lg-10 {
        margin-top: 10px;
    }
    .mt-lg-20 {
        margin-top: 20px;
    }
    .mt-lg-30 {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .text-xs-right {
        text-align: right;
    }
    .text-xs-left {
        text-align: left;
    }
    .pull-xs-right {
        float: right;
    }
    .pull-xs-left {
        float: left;
    }
    .mt-xs-0 {
        margin-top: 0px;
    }
    .mt-xs-10 {
        margin-top: 10px;
    }
    .mt-xs-20 {
        margin-top: 20px;
    }
    .mt-xs-30 {
        margin-top: 30px;
    }
}

/* margins */

.mt0 {
    margin-top: 0px;
}

.mt1 {
    margin-top: 1px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml0 {
    margin-left: 0px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.mr0 {
    margin-right: 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

/* /margins */

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.label-white {
    color: #777;
    border: 1px #777 solid;
    background-color: #FFF;
    padding: 6px;
}

.pl3 {
    padding-left: 3px;
}

.pl5 {
    padding-left: 3px;
}

.pl0 {
    padding-left: 0px;
}

.pr0 {
    padding-right: 0px;
}

.pr3 {
    padding-right: 3px;
}

.pr5 {
    padding-right: 5px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt0 {
    padding-top: 0px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.glow_text {
    -webkit-animation: glow .5s .8s alternate;
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}

.borderless td, borderless table, borderless tr {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* table resizer */

table.resize th {
    position: relative;
    min-width: 10px !important;
}

table.resize tr th .handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: ew-resize !important;
}

table.resize tr th .handle.active {
    border-right: 1px dotted #000;
}

table.resize th span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 0;
    right: 0;
}
table.resize tr {
    height: 25px;
}
table.resize td {
    position: relative;
}
table.resize td span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
}

table.resize {
    font-size: 12px;
}

table.resize td span {
    padding-left: 4px;
    padding-top: 2px;
}

.table>tbody>tr>td {
    padding-bottom: 1px;
    padding-top: 1px;
}

/**/

.text-gray {
    color: #ccc;
}

.selected-row {
    background-color: #ccc !important;
}

.editFormTable {
    font-size: 12px;
    background-color: #f9f9f9;
}

/* breadcrumb */

.breadcrumb a {
    cursor: pointer;
}

/* language picker */
.language-picker a {
    color: #333 !important;
}


h2.cm-title-table {
    margin-top: 0px;
}

/* fix dropdown multiselect */

ul.dropdown-menu.dropdown-menu-form.ng-scope {
    z-index: 99999;
}

div.multiselect-parent {
    width: 100%;
}

div.dropdown-multiselect > button {
    text-align: left;
    color: #555;
}

/* /fix dropdown multiselect */

/* color para texto de combo select */
select.form-control.input-sm.searchcombo {
    color: #9c9fa8;
}

select.form-control.input-sm > option{
    color: #333;
}

.searchcombo {
    max-width: 150px;
}

.item-with-newtabbtn {
    display: inline-block !important;
}

.item-newtabbtn {
    display: inline-block !important;
    padding-left: 0px !important;
}

.iw-menu {
    padding-bottom: 50px !important;
}

.item-menu-selected {
    background-color: #111;
}

/* tabs */

.tab-protocols-content {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* /tabs */

.ace_editor { height: 200px; }

/* modal extra grande que ocupe 90% del ancho */
.modalXXL > .modal-dialog {
    width: 90% !important;
}

/* fixes ui-select combo con busqueda */
/*.inputinline {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.ui-select-bootstrap > .ui-select-match > .btn {
    height: 25px;
    display: inline-block;
    width: auto;
    color: #555;
    font-size: 12px;
    line-height: 14px;
    top: -1px;
    border-radius: 3px;
    min-width: 80px;
}
.ui-select-bootstrap.ng-not-empty > .ui-select-match > .btn {
    height: 25px;
    display: inline-block;
    width: auto;
    vertical-align: text-bottom;
    color: #555;
    font-size: 12px;
    line-height: 14px;
    top: 0px;
    border-radius: 3px;
    max-width: 220px;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: auto;
}
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-search {
    min-width: 200px;
    color: #555;
    font-size: 12px;
    line-height: 14px;
}

input.ui-select-search {
    height: 25px;
}

ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
    margin-top: 2px;
}
.ui-select-match.btn-default-focus {
    height: 25px;
}
.ui-select-bootstrap > .ui-select-match > .btn:hover {
    background-color: #fff;
}
.ui-select-placeholder.text-muted {
    color: #9c9fa8;
}
span:focus {
    outline: none;
}
.studioform .btn-default-focus {
    background: none;
    border: none;
}
*/
/* /fixes ui-select combo con busqueda */

.searchbar {
    padding-right: 30px;
}

.searchbar .input-sm {
    padding: 2px 10px;
    font-size: 12px;
    height: 25px;
}

/* para que no se seleccione el texto al hacer doble clic en una fila de la tabla */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* /para que no se seleccione el texto al hacer doble clic en una fila de la tabla */

/* nuevos tamaños para formulario de studio */
.studioform .form-horizontal .control-label {
    font-size: 12px;
    padding-top: 4px;
    padding-right: 4px;
}

.studioform .form-horizontal .checkbox, .studioform .form-horizontal .checkbox-inline, .studioform .form-horizontal .radio, .studioform .form-horizontal .radio-inline {
    padding-top: 0px;
    font-size: 12px;
}

.studioform .form-inline .control-label {
    font-size: 12px;
    padding-top: 4px;
    padding-right: 4px;
}

.studioform .form-inline .checkbox, .studioform .form-inline .checkbox-inline, .studioform .form-inline .radio, .studioform .form-inline .radio-inline {
    padding-top: 0px;
    font-size: 12px;
}

.studioform .input-sm {
    padding: 2px 10px;
    font-size: 12px;
    height: 25px;
}

.studioform select.input-sm {
    height: 25px;
    line-height: 20px;
}

.studioform .form-group {
    margin-bottom: 8px;
}
.studioform input[type=radio] {
    margin-top: 3px;
}
.studioform input[type=checkbox] {
    margin-top: 0px;
}
.studioform .form-control-static {
    min-height: auto;
    padding-top: 2px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.combowithbutton { /* combo con boton al lado */
    max-width: 92%;
    display: inline;
}

.btn-circle {
    border-radius: 50% !important;
}

.inputinline.inputinlinebtn {
    vertical-align: text-bottom;
}

/* /nuevos tamaños para formulario de studio */

.pagination>li>a, .pagination>li>span {
    padding: 4px 8px;
}

/* nuevo diseño tabs */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #337ab7 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #337ab7; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #2e6da4 none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.nav-tabs > li.disabled > a, .nav-tabs > li > a:hover { border: none; color: #666 !important; background: transparent; }
/* /nuevo diseño tabs */

.studioform .form-horizontal .checkbox {
    font-weight: normal;
    line-height: 24px;
}
/*
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}*/

/* tree view */
.angular-ui-tree-handle {
    background: #f5f5f5;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #000;
    background: #f4f6f7;
    border-color: #ccc;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.rowservicerelated {
    background:#efefef !important;
}

.rowresourcerelated {
    background:#dfdfdf !important;
}

/* panel accordion */

.panel-default>.panel-heading {
    background-image: none;
    padding: 7px 10px;
}

.panel-heading h4.panel-title {
    font-size: 14px;
}

/* fix tamaño ui-select */
.studioform span.btn.btn-default.form-control.ui-select-toggle {
    height: 25px;
    font-size: 12px;
    padding: 4px 10px;
}

input.ui-select-search {
    height: 25px;
}

.ui-select-match.btn-default-focus {
    height: 25px;
}

.comboui-inline {
    display: inline-block;
    top: 8px;
}

span.ui-select-placeholder.text-muted.ng-binding {
    padding-right: 14px;
}

.combo-disabled {
    pointer-events: none;
}

.labelSearch{
    float:left;
    margin-top:5px;
}

/* filtros ui-select en barra de busqueda de tablas */
.comboui-inputinline {
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.comboui-inputinline .ui-select-bootstrap > .ui-select-match > .btn {
    height: 25px;
    display: inline-block;
    width: auto;
    color: #555;
    font-size: 12px;
    line-height: 14px;
    top: -1px;
    border-radius: 3px;
    min-width: 80px;
}
.comboui-inputinline .ui-select-bootstrap.ng-not-empty > .ui-select-match > .btn {
    height: 25px;
    display: inline-block;
    width: auto;
    vertical-align: text-bottom;
    color: #555;
    font-size: 12px;
    line-height: 14px;
    top: 0px;
    border-radius: 3px;
    max-width: 220px;
}
/* /filtros ui-select en barra de busqueda de tablas */

.ng-table-resizable-columns{
    font-size: 12px;
}

.ng-table-resizable-columns tr{
    height:25px;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
    border:none !important;
}

/* fix para que no se vea el focus/glow que queda desfasado debjo de los ui-select al pulsar sobre una opcion */
.ui-select-bootstrap .ui-select-match-text {
    line-height: 14px;
}

/* fix de ancho del menu */
.iw-usermenu {
    min-width: 260px;
    width: auto;
}

a.nounderline:hover, a.nounderline:focus, a.nounderline:active {
    text-decoration: none;
}

.resourceordertestborderright {
    border-right: 1px solid lightgrey;
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px;
}

li.abn-tree-row.active .indented {
    color: #fff;
    font-weight: bold;
}

.boxoverflow {
    height: calc(100vh - 350px);
    overflow-y: auto;
}

.ng-table-pagination {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
/* widgets home */
.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.card-box .title {
    color: #2d2a28;
}

.widget-bg-color-icon .bg-icon-success {
    background-color: rgba(82, 187, 86, 0.75);
    border: 6px solid rgba(82, 187, 86, 0.3);
}

.widget-bg-color-icon .bg-icon-primary {
    background-color: rgba(3, 156, 253, 0.75);
    border: 6px solid rgba(3, 156, 253, 0.3);
}

.widget-bg-color-icon .bg-icon-danger {
    background-color: rgba(239, 83, 80, 0.75);
    border: 6px solid rgba(239, 83, 80, 0.3);
}

.widget-bg-color-icon .bg-icon-info {
    background-color: rgba(103, 209, 248, 0.75);
    border: 6px solid rgba(103, 209, 248, 0.3);
}

.widget-bg-color-icon .bg-icon-warning {
    background-color: rgba(241, 181, 61, 0.75);
    border: 6px solid rgba(241, 181, 61, 0.3);
}

.widget-bg-color-icon .bg-icon-inverse {
    background-color: rgba(76, 86, 103, 0.75);
    border: 6px solid rgba(76, 86, 103, 0.3);
}

.widget-bg-color-icon .bg-icon-iway {
    background-color: #ff661b;
    border: 6px solid #fc511d;
}

.widget-bg-color-icon .bg-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
}

.widget-bg-color-icon .bg-icon i {
    font-size: 32px;
    color: #ffffff !important;
    line-height: 68px;
}

h1.hometitle {
    color: #fc511d;
    font-size: 64px;
}

h2.hometitle {
    color: #fc511d;
    font-size: 32px;
}

.formInputs input{
        margin-bottom: 10px
    }

.formInputs select{
        margin-bottom: 10px
    }

table#flowConditionsTable  td, table#flowConditionsTable  th{
    text-align: left
}

/* For tables */
td a, button {
    pointer-events: all;
}

.disableEvents {
    pointer-events: none;
}

/* hack fix bootstrap grid para arreglar bloques de la home cuando son un mismo row y caen a otra fila por el tamaño de pantalla */
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
/* en hack fix bootstrap grid */
.toggle-switch {
    width: 48px !important;
    height: 20px !important;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 25px;
}
.toggle.ios .toggle-handle {
    border-radius: 25px;
}
.toggle.ios {
    width: 48px !important;
    height: 20px !important;
}


table.table th:not(.header) span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

table.table th:not(.header) span i {
    padding-left: 5px;
    padding-top: 2px;
}